<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="component">
    <field
      name="substring"
      type="text"
      default="150"
      filter="integer"
      label="COM_MJCOMMENTS_CONFIG_SUBSTRING_LABEL"
      description="COM_MJCOMMENTS_CONFIG_SUBSTRING_DESC"
    />
  </fieldset>
  <fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
    >

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_mjcomments"
			section="component" />
	</fieldset>
</config>
